/***
Spectrum Colorpicker v1.8.0
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/

#swatch {
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    margin-bottom: 20px;
}

.theme-accent-bg {
    background-color: darkturquoise;
}

.theme-warning-bg {
    background-color: darkorange;
}

.theme-error-bg {
    background-color: red;
}

.theme-success-bg {
    background-color: mediumseagreen;
}