/***
Spectrum Colorpicker v1.8.0
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/

.a-tag-class-bg {
    background: blue;
}

.another-tag-class-bg {
    background: red;
}